@(reviewForm: Form[String])

@import helper._

@main("How bad") {

<h1>How bad was the last movie you saw?</h1>
@form(routes.Application.newReview) {
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  @inputText(reviewForm("comments"))
  <input type="submit" class="btn btn-default" value="Create">
}

}
