@(reviews: List[Review])

@import helper._

@main("Reviews") {

  <h1>@reviews.size review(s)</h1>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>

  <ul>
    @reviews.map { review =>
      <li>
        @review.movie
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        @review.comments
        @form(routes.Application.deleteReview(review.id)) {
          <input type="submit" class="btn btn-danger btn-xs" value="Delete">
        }
      </li>
    }
  </ul>
}
